@st-import Feature from '../components/feature.st.css';
@st-import "../css/theme.st.css";

.pageTitle {
    margin-top: 4em;
}

.card {
    -st-extends: Feature;
}

.card::title {
    text-align: center;
}

.card::imageWrapper {
    text-align: center;
}

@media screen and (max-width: 996px) {
    .communityPageTitle {
        margin-top: 2.25em;
        padding-inline-start: 2.5em;
    }
}
