@st-import [--ifm-color-emphasis-100, --ifm-link-color, --ifm-container-width, --ifm-spacing-horizontal, --ifm-navbar-height] from "../css/infima.st.css";
@st-import Hero from "../components/hero.st.css";
@st-import Feature from "../components/feature.st.css";
@st-import "../css/theme.st.css";

.main {}

.hero {
    -st-extends: Hero;
    position: relative;
    display: block;
    z-index: 0;
    margin-top: var(--ifm-navbar-height);
    margin-bottom: max(15em, 15vh);
}

.features {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.feature {
    -st-extends: Feature;
}

.feature::imageWrapper {
    text-align: center;
}

.section {
    padding: 3em 0;
}

.heart {
    color: rgb(204, 27, 27);
}

.quote {
    font-family: serif;
    font-size: 19px;
    padding: 42px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-left-color: var(--ifm-link-color);
    color: var(--ifm-font-color-base);
}

.quote::before {
    position: absolute;
    margin: -12px 0px 0px 0px;
    content: ' ';
    background-image: url(../../static/img/quote.svg);
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.lspDemo {
    width: 100%;
    margin-bottom: 1em;
}

.playWithIt {
    margin: 1em 0 0 0;
}
