/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-emphasis-100);
  color: var(--ifm-font-color-base);
}

.mainLogo {
  margin: 5% 0;
}

.section {
  padding: 3em 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 125px;
  width: 125px;
  margin: 2.25em 0;
}

.quote {
  font-family: serif;
  font-size: 19px;
  padding: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-left-color: var(--ifm-link-color);
  color: var(--ifm-font-color-base);
}

.quote::before {
  position: absolute;
  margin: -12px 0px 0px 0px;
  content: " ";
  background-image: url(/stylable.io/img/quote.svg);
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.responsiveEmbed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsiveEmbed:not(:last-child) {
  margin-bottom: 2em;
}

.responsiveEmbed iframe,
.responsiveEmbed object,
.responsiveEmbed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lspDemo {
  margin-bottom: 1em;
}

.playWithIt {
  margin: 1em 0 0 0;
}

@media screen and (max-width: 996px) {
  .feature {
    margin: 2.5em;
  }
  .featureImage {
    float: left;
    margin: 0 3em 0 0;
  }
}

@media screen and (max-width: 600px) {
  .mainLogo {
    width: 100%;
  }

  .featureImage {
    float: none;
    margin: 2.25em 0;
  }
}
