@st-import Decoration from "../components/decoration.st.css";

/* 
ToDo: move to new syntax
@st .root {
    @st ::title => .title;

    @st ::feaure => .feature {
        @st ::content => .content {
            @st ::marker => &::before;
            @st ::title => .title;
            @st ::desc => .desc;
        }
        @st ::decoration => Decoration;
    }
} 
*/
.root {}

.title {}

.feature {}

.content {}

@custom-selector :--feature-marker .content::before;

.feature-title {}

.feature-desc {}

.feature-decoration {
    -st-extends: Decoration;
}

