@st-import [centerMainColumn, colorScheme] from "../css/common.st.css";

.root {}

.wrapper {
    -st-extends: centerMainColumn;

    .content {
        .title {}

        .desc {}

        .nav {}

        .button {
            -st-states: action(enum(demo, intro));
        }
    }

    .gfx {
        .background {}

        .logo {
            -st-states: colorScheme(enum(light, dark));
        }
    }
}

@st-scope .colorScheme:type(light) {
    .logo:colorScheme(dark) {
        display: none;
    }
}

@st-scope .colorScheme:type(dark) {
    .logo:colorScheme(light) {
        display: none;
    }
}
