@st-import [centerMainColumn] from "../css/common.st.css";

.root {}

.wrapper {
    -st-extends: centerMainColumn;

    .content {
        .title {}

        .desc {}

        .nav {}

        .button {
            -st-states: action(enum(demo, intro));
        }
    }

    .gfx {
        .background {}

        .logo {
            -st-states: colorScheme(enum(light, dark));
        }
    }
}

:global(html[data-theme='light']) .logo:colorScheme(dark) {
    display: none;
}

:global(html[data-theme='dark']) .logo:colorScheme(light) {
    display: none;
} 
