.root {
    -st-states: colorScheme(enum('light', 'dark'));
}

:global(html[data-theme='light']) .root:colorScheme(dark) {
    display: none;
}

:global(html[data-theme='dark']) .root:colorScheme(light) {
    display: none;
}

