@st-import [colorScheme] from "../css/common.st.css";

.root {
    -st-states: colorScheme(enum('light', 'dark'));
}

@st-scope .colorScheme:type(light) {
    .root:colorScheme(dark) {
        display: none;
    }
}

@st-scope .colorScheme:type(dark) {
    .root:colorScheme(light) {
        display: none;
    }
}
