@st-namespace "feature-list-variants";
@st-import FeatureList, [feature] from "../../components/feature-list.st.css";
@st-import Decoration from "../../components/decoration.st.css";

:vars {
    indexFont: 10px/13px Poppins;
    screenLarge: 2500px;
    screenMiddle: 1020px;
    screenSmall: 750px;
}

.featureListDesign {
    -st-extends: FeatureList;
    --featureInlineEndPad: clamp(1px, 5%, 110px);
    counter-reset: feature;
    position: relative;
    z-index: 3;
    padding: 0;
}

.featureListDesign::title {
    z-index: 3;
    position: relative;
}

.featureListDesign::feature {
    position: relative;
    z-index: 1;
    counter-increment: feature;
    padding: 90px 0;
    padding-inline-end: var(--featureInlineEndPad);
    /* bottom border */
    border: 0px solid var(--aa-1, rgba(255, 255, 255, 0.16));
}

.featureListDesign::feature + .feature {
    border-top-width: 1px;
}

.featureListDesign::content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.featureListDesign::feature-marker {
    width: max-content;
    content: "/ 0" counter(feature);
    margin-inline-end: 34px;
    font-size: 16px;
    font-family: Poppins;
    /* line-height: 16px; */
    letter-spacing: 3.2px;
    text-transform: uppercase;
    /* vertical-align: middle; */
    align-self: start;
}

.featureListDesign::feature-title {
    flex: 1;
    position: relative;
    z-index: 3 /* above decorations */;
    margin: 0;
    margin-top: -14px;
    margin-inline-end: 1em;
    align-self: start;
}

.featureListDesign::feature-desc {
    width: 50%;
    margin: 0;
    align-self: start;
}

.featureListDesign::feature:hover {
    /* ToDo: change this to activate each on while scrolling*/
    position: relative;
    /* padding-inline-start: 55px; */
}

.featureListDesign::feature-decoration {
    display: none;
    width: 100%;
    height: 100%;
    inset: 0;
    background: radial-gradient(
                    circle at 90% 110%,
                    #e4282866 0,
                    transparent 25%
                );
}

.featureListDesign::feature-decoration::path {
    d: path("M 35 762 L 35 399 L 124 199 L 297 108 L 960 -149 L 460 245 L 324 610 L 323 861 L 112 908 Z");
    fill: #42E5AA55;
    filter: blur(130px);
}

.featureListDesign::feature-decoration:is(.feature:hover > *) {
    display: block;
}

.featureListDesign::content {
    transition: translate 0.3s;
}

.featureListDesign::content:is(.feature:hover > *) {
    translate: var(--featureInlineEndPad);/*TODO: set according to available space*/
}

@media (max-width: value(screenMiddle)) {
    .featureListDesign::feature-marker {
        flex-basis: 100%;
        line-height: 2em;
    }
}

@media (max-width: value(screenSmall)) {
    .featureListDesign::feature-title {
        flex-basis: 100%;
        margin-top: 0;
    }

    .featureListDesign::feature-desc {
        flex-basis: 100%;
    }

    .featureListDesign Decoration {
        display: none;
    }
}

.featureListDesign Decoration {
    z-index: 2 /* above feature item */;
    --shine: 200px;
}

.featureListDesign Decoration:of(features)::htmlElement {
    border-radius: 50%;
    background: #121623;
    box-shadow:
        0 5px 100px 10px rgba(66, 4, 197, .2) inset,
        110px 0px var(--shine) 15px rgba(0, 216, 138, .69) inset,
        45px 0 115px 0px rgba(255, 255, 255, .4) inset;
}

.featureListDesign Decoration:of(dec1) {
    width: 400px;
    right: var(--featureInlineEndPad);
    top: 1em;
    transform: translateY(-200px);
}

.featureListDesign Decoration:of(dec2) {
    width: 135px;
    right: calc(var(--featureInlineEndPad) + 400px - 5px);
    top: 1em;
    transform: translateY(-67.5px) rotateZ(180deg);
}

.featureListDesign Decoration:of(dec3) {
    --shine: 450px;
    width: 50px;
    right: calc(var(--featureInlineEndPad) + 400px + 90px);
    top: 1em;
    transform: translateY(-200px) rotateZ(180deg);
}

.featureListlightModeOverride {}

.featureListlightModeOverride Decoration:of(features)::htmlElement {
    box-shadow: unset;
    background: radial-gradient(
                    99.92% 105.34% at 11.42% 20.63%,
                    #FFBCD9 0%,
                    #FF1B28 100%
                );
    background: radial-gradient(
                    100.23% 96.52% at 18.42% 20.38%,
                    #FFD1A6 0%,
                    #EE2866 99.99%,
                    #FF1B28 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: inset 40px 44px 134px rgba(255, 255, 255, 0.25),
                inset 40px 47px 95px -10px rgba(255, 255, 255, 0.89),
                inset -54px -36px 132px rgba(136, 1, 169, 0.35),
                inset -100px -116px 164px rgba(226, 10, 0, 0.39);
}

.featureListlightModeOverride Decoration:of(dec1) {
    overflow: visible;
}

.featureListlightModeOverride Decoration:of(dec1)::path {
    d: path("M 386 1002 L 160 618 L 300 295 L 639 99 L 1088 224 L 1441 783 L 1742 1567 L 1122 1233 L 812 1211 Z");
    fill: #FF5AA999;
    filter: blur(130px);
}

.featureListlightModeOverride Decoration:of(dec2) {
    transform: translateY(-67.5px);
}

.featureListlightModeOverride Decoration:of(dec2)::htmlElement {
    background: radial-gradient(
                    100% 96.5% at 18.5% 20.5%,
                    #FFD1A6 0%,
                    #EE2866 99.99%,
                    #FF1B28 100%
                );
    box-shadow: inset 21px 23px 70px rgba(255, 255, 255, 0.25),
                inset 21px 24.5px 50px -5px rgba(255, 255, 255, 0.89),
                inset -52.2178px -60.5726px 85.6372px rgba(226, 10, 0, 0.39);
}

.featureListlightModeOverride Decoration:of(dec3) {
    transform: translateY(-200px);
}

.featureListlightModeOverride Decoration:of(dec3)::htmlElement {
    background: radial-gradient(
                    105% 125% at 11% 20%,
                    #FFC1DE 0%,
                    #FF1B28 100%
                );
    box-shadow: inset 2.5px 0px 22px rgba(255, 255, 255, 0.9);
}

