@st-namespace "infima-design";
@st-import [
    --ifm-color-primary,
    --ifm-color-primary-dark,
    --ifm-color-primary-darker,
    --ifm-color-primary-darkest,
    --ifm-color-primary-light,
    --ifm-color-primary-lighter,
    --ifm-color-primary-lightest,
    --ifm-background-color,
    --ifm-code-font-size,
    --ifm-container-width,
    --ifm-container-width-xl,
    --ifm-color-emphasis-100,
    --ifm-background-surface-color,
    --ifm-navbar-background-color,
    --ifm-navbar-padding-horizontal,
    --ifm-navbar-padding-vertical,
    --ifm-navbar-height,
    --ifm-font-family-base,
] from "../infima.st.css";

:vars {
    fgColor: black;
    bgColor: white;
    navbarBgColor: white;
    containerWidth: 1290px;
    containerWidthXL: 1290px;
    containerHorizontalSpace: 10px;
}

.infimaOther {
    --ifm-font-family-base: 'Poppins', sans-serif;
    --ifm-code-font-size: 95% !important;
    --ifm-container-width: value(containerWidth) !important;
    --ifm-container-width-xl: value(containerWidthXL) !important;
    --ifm-spacing-horizontal: value(containerHorizontalSpace) !important;
    /*
    ToDo: figure out navbar padding 
    --ifm-navbar-padding-horizontal: 35px;
    --ifm-navbar-padding-vertical: 20px;
    --ifm-navbar-height: auto; 
    */
}

.infimaColors {
    --ifm-background-color: value(bgColor) !important;
    --ifm-background-surface-color: value(bgColor) !important;
    --ifm-color-primary: green !important;
    --ifm-color-primary-dark: #3a8d38 !important;
    --ifm-color-primary-darker: #368535 !important;
    --ifm-color-primary-darkest: #2d6e2b !important;
    --ifm-color-primary-light: #46ad44 !important;
    --ifm-color-primary-lighter: #4ab547 !important;
    --ifm-color-primary-lightest: #60bf5d !important;
    --ifm-navbar-background-color: value(navbarBgColor) !important;
}
